*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(120deg, #0f2027, #203a43,#2c5364);
    overflow: hidden;
    animation: gradientMove 5s infinite ease-in-out;
    }
.card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: rgba(255,255, 255, 0.12);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255,255, 0.25);
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
    animation:breathe 5s ease-in-out infinite;
    overflow: hidden;
}
.content {
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.input-box input{
    width: 250px;
    padding: 15px 20px;
    font-size: 1em;
    color: #050809;
    background-color: #b2ccd7;
    border-radius: 10px;
}
.forgot-password{
        text-align: right;
        margin-bottom: 20px;
}
.forgot-password a{
            font-size: 14px;
            color: #ebeff1;
            text-decoration: none;
            transition: color 0.3s ease;
}
button {
    width: 100%;
    height: 40px;
  background:#b2ccd7;
border: none;
outline: none;
border-radius: 40px;
cursor: pointer;
font-size: 1em;
color: #050809;
font-weight: 500;
margin: 90px 0px 50px;
}
.button:hover{
    transform: scale(1.05);
    background: #0f2027;
}